li.milf_ignored {
    display: none !important;
}

#milf_mark_btn {
    height: 25px;
    font-size: small;
    vertical-align: middle;
    line-height: 5px;
    width: 140px;
    margin-left: 15px;
}